<!DOCTYPE html>
<html lang="en">
<head>
    <!--**************************************
        PLACE METADATA INTO THIS SECTION
    ***************************************-->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- TITLE INFO -->
    <title>Jackson Hole</title>
	<link rel="icon" href="../../static/img/wyoming.svg" />

    <!--**************************************
        PLACE CSS LINKS INTO THIS SECTION
    ***************************************-->
    <link href="../../static/css/custom-styles.css" rel="stylesheet">
    <link href="../../static/css/style.css" rel="stylesheet">
    

    <!--**************************************
        PLACE LIB LINKS INTO THIS SECTION
    ***************************************-->
    <link href="../../static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../../static/lib/animate/animate.min.css" rel="stylesheet">
    <link href="../../static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
    <link href="../../static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../../static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    
    <!--

  <meta charset="utf-8">
  <title>DevFolio Bootstrap Template</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  !-- Favicons --
  <link href="img/favicon.png" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">

  !-- Bootstrap CSS File --
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  !-- Libraries CSS Files --
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="lib/animate/animate.min.css" rel="stylesheet">
  <link href="lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  !-- Main Stylesheet File --
  <link href="css/style.css" rel="stylesheet">

  !-- =======================================================
    Theme Name: DevFolio
    Theme URL: https://bootstrapmade.com/devfolio-bootstrap-portfolio-html-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= 

    -->

</head>

<body data-spy="scroll" data-target=".inner-link" data-offset="60" >
<main>
<div id="main-wrapper">